.notification-list {
  > li:not(:first-child) {
    margin-top: 1rem;
  }
}

.card {
  --f-justify: start;
  --f-align: start;
  outline: 1px solid orange;

  &_img {
    width: 45px;
  }

  &_body {
    --f-align: center;
    --f-gap: 1rem;

    //outline: 1px solid blue;
  }

  &_content-img {
    margin-left: auto;
    height: 50px;
  }
}
