.main-container {
  width: min(100%, 740px);
  margin-inline: auto;
  padding: 1.5rem 1rem;
}

.flex {
  display: flex;
  flex-direction: var(--f-direction, row);
  justify-content: var(--f-justify, space-between);
  align-items: var(--f-align, center);
  gap: var(--f-gap, 1rem);
}

.header {
  --f-gap: 0.5rem;
  --f-align: end;

  margin-block-end: 1.5rem;

  .badge {
    margin-right: auto;
  }
}
