@media (min-width: 50em) {
  // Layout
  .main-container {
    padding: 30px;
    margin-top: 4rem;
    border-radius: 1rem;
  }

  .card {
    padding: 20px 15px;
    &_img {
      width: 45px;
    }
  }

  // Typography
  :root {
    --fs-400: 1rem;
    --fs-500: 1.025rem;
    --fs-600: 1rem;
    --fs-700: 1.55rem;
  }
}
